.stepview1 {
    &__visual-introduction {
        display: flex;
        justify-content: center;
        gap: 20px;

        &--left, &--right {
            max-width: 30%;
            display: flex;
            flex-direction: column;
        }
    }

    &__image {
        height: 200px;
        margin-bottom: 20px;
    }
}